<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon2.ico') }}" type="image/x-icon">
    <title>Ozone AI</title>
</head>
<body>
    <div class="chat-container">
        <div id="chat-box">
            {% for message in messages %}
                <div class="chat-message {{ message.sender }}">
                    <p><b>{{ message.text }}</b></p>
                </div>
            {% endfor %}
        </div>
        <div class="form_highlight">
            <form class="input-container" action="/" method="post">
                <input type="text" id="message-input" name="chat" placeholder="Type your message..." autocomplete="off">
                <button id="send-button" type="submit">Send</button>
                
            </form>
            <div class="highlight">
                <p>AI-generated content maybe wrong or errors.</p>
            </div>
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
